{% extends "layout.html" %}

{% block content %}

<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* div {
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 25px;
  } */
</style>

{% if current_user.username == "Administrador" %}
  <h2 class="text-center p-4 my-1" style="color:#fff;">REGISTRO DE ALUMNOS EN LA BASE DE DATOS</h2>
  <div class="wrapper fadeInDown">
    <div class="container p-4">
      <div class="jumbotron">
        <form method="POST">  <!--action="/action_page.php target=_self"-->
          <!-- codigo nombre telefono id-->
          <label for="codes_estu" data-toggle="tooltip" data-placement="right">Código institucional del estudiante:</label>
          <input type="text"  pattern="-?[0-9]*(\.[0-9]+)?" maxlength="10" minlength="10" id="codes_estu" name="codes_estu" placeholder="Código institucional del estudiante..." title="El codigo del estudiante solo contienen caracteres numéricos" required>

          <label for="nomes_estu" data-toggle="tooltip" data-placement="right">Nombre completo del esudiante:</label>
          <input type="text" id="nomes_estu" name="nomes_estu" placeholder="Nombre completo del esudiante..." pattern="[A-Za-z0-9\s]+" title="Solo se admiten letras y numeros." required>

          <label for="cedull" data-toggle="tooltip" data-placement="right">Cédula del estudiante:</label>
          <input type="text"  pattern="-?[0-9]*(\.[0-9]+)?" id="cedull" name="cedull" placeholder="Cédula del estudiante..." title="La cedula solo contienen caracteres numéricos" required>

          <input type="submit" value="Guardar">
        </form>
        <h3 class="text-center p-4 my-1">{{info}}</h3>
        <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <h2>Alumnos actuales</h2>
      <p>La siguiente tabla muestra la información de los Alumnos actuales:</p>
      {{ tabla_estudiantes }}
    </div>
  </div>

{% endif %}
{% endblock content %}
